@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    outline:none;
    text-decoration:none;
    border:none;
  }
  
:root {
    --primary: #5358fd;
    --light: #DDDDDD;
    --secondary: #2531ce;
    --mid-dark: #949494;
    --dark: #292A2B;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
  

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
  background-color: var(--dark);
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  color: var(--mid-dark);
  z-index: 1;
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  line-height: 24px;
  text-decoration: none;
  color: var(--mid-dark);
}

.sidebar a:hover{
  animation: sideBarHover;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes sideBarHover {
  0%    { 
          transform: translate(0px,  0px); 
          color: var(--mid-dark);
        }
  100%  { 
          transform: translate(5px,  0px); 
          color: white;
        }
}

#main-content {
  padding-right: 10%;
  z-index: 50;
  margin-left: 19%;
  width: 100%;
  /* overflow-y: auto; supposed to make it scrollable? */ 
}

/* CONVERSATION / TEXT BLOCK */

#conversation-box {
  overflow-anchor: none;
}

#conversation {
  display: block;
}

.inputDisplay {
  background-color: rgb(236, 237, 240);
  width: 100%;
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right:7%;
  display: flex;
}

.responseDisplay {
  background-color: rgb(170, 170, 174);
  width: 100%;
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right:7%;
  display: flex;
}

#spacer {
  height: 200px;
}

/* search bar */

.search-bar-box {
  position: fixed;
  z-index: 5;
  bottom: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; /* align vertical */
  right: 5%;
}

.disclaimer {
  color: gray;
  font-size: small;
}

.underline {
  text-decoration: underline;
}

.search-bar {
    width: 100%;
    height: 8%;
    background-color: #FFFFFF;
    border: 1px solid var(--mid-dark);
    border-radius: 10px; /* change border-radius to 10px; makes the squared edges */
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 10px; /* change border-radius to 10px; makes the squared edges */
    padding: 8px 16px;
  }
  
  .search-bar button {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--mid-dark);
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }

  .search-bar button:hover {
    animation: searchButtonHover;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  @keyframes searchButtonHover {
    0%    {  
            color: var(--mid-dark);
            background-color: transparent;
          }
    100%  { 
            color: black;
            background-color: var(--light);
          }
  }

  /* Main Logo */

  .logo-container {
    position: fixed;
    top: 20%;
    right: 15%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; /* align vertical */
}