@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    outline:none;
    text-decoration:none;
    border:none;
  }
  
:root {
    --primary: #5358fd;
    --light: #fffefd;
    --secondary: #2531ce;
    --mid-dark: #f6f5f5;
    --more-dark: #d6d6d6;
    --dark: #383943;
    --darkest: #282934;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
  

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
  background-color: var(--dark);
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2%;
  color: var(--mid-dark);
  z-index: -10;
}

#sidebar div {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;

  display: flex;
  align-items: center;
}

#sidebar div a {
  line-height: 24px;
  text-decoration: none;
  color: var(--mid-dark);
  transition: 0.5s;
}

#sidebar div:hover a {
  color: white;
  transform: translate(5px,  0px); 
}


@keyframes sideBarHover {
  0%    { 
          transform: translate(0px,  0px); 
          color: var(--mid-dark);
        }
  100%  { 
          transform: translate(5px,  0px); 
          color: white;
        }
}

#main-content {
  /* padding-right: 10%; */
  z-index: 50;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* overflow-y: auto;  */
  margin-left: 20%;
}

/* CONVERSATION / TEXT BLOCK */

#conversation-box {
  /* overflow-anchor: none; */
  /* overflow-x: hidden; */
  z-index: 20;
  background-color: var(--light);
}

#conversation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: 80%; */
}

.inputDisplay {
  background-color: var(--light);
  border-bottom: 1px var(--more-dark) solid;
  /* width: 100%; */
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right:10%;
  display: flex;
}

.responseDisplay {
  background-color: var(--mid-dark);
  border-bottom: 1px var(--more-dark) solid;
  /* width: 100%; */
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right:10%;
  display: flex;
}

#spacer {
  height: 200px;
}

/* search bar */

.search-bar-box {
  position: fixed;
  z-index: 5;
  bottom: 5%;
  width: 80%;

  padding-left: 2%;
  padding-right: 2%;

  display: flex;
  flex-direction: column;
  align-items: center; /* align vertical */
}

.disclaimer {
  color: gray;
  font-size: small;
}

.underline {
  text-decoration: underline;
}

.search-bar-box-inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  width: 100%;
  height: 8%;
  background-color: #FFFFFF;
  border: 1px solid gray;
  border-radius: 10px; /* change border-radius to 10px; makes the squared edges */
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
  
.search-bar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  /* margin-left: 10px; */
  border-radius: 10px; /* change border-radius to 10px; makes the squared edges */
  padding: 8px 16px;
}

.search-bar button {
  border: none;
  outline: none;
  background-color: transparent;
  color: gray;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar button:hover {
  animation: searchButtonHover;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes searchButtonHover {
  0%    {  
          color: gray;
          background-color: transparent;
        }
  100%  { 
          color: black;
          background-color: var(--mid-dark);
        }
}

  /* main logo */

.logo-container {
  position: fixed;
  z-index: 5;
  top: 12%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; /* align vertical */
  right: 5%;
  width: 100%;
}

.logo-top {
  background-color: var(--mid-dark);
  border-bottom: 1px var(--more-dark) solid;
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  justify-content: center;
}

/* ABOUT PAGE STUFF */

.about-section {
  background-color: var(--mid-dark);
  padding: 5%;
}

.about-subtitle {
  font-size: xx-large;
  /* font-weight: bold; */
  margin-bottom: 5%;
}

#main-logo {
  display: flex;
  justify-content: center;
  height: 8%;
  /* width: 100vw; */
}

#about {
  padding: 5%;
}

.mobile {
  display: none;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

@media (max-width:600px)  { 

  body {
    flex-direction: column;
    transition: 0.5s;
  }

  #sidebar {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 50;
    transform: translate(0, -500px);
    /* animation: slide-in 0.5s forwards; */
    transition: 0.5s;
  }

  #sidebar div {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #sidebar.active {
    /* animation: slide-out 0.5s forwards; */
    transform: translate(0, 30px);
    /* transition: transform 0.75s; */
    z-index: 25;
  }

  @keyframes slide-out {
    0% {
      transform: translate(0, -500px);
    }
    100% {
      transform: translate(0, 30px);
    }
  }

  @keyframes slide-in {
    0% {
      transform: translate(0, 30px);
    }
    100% {
      transform: translate(0, -500px);
    }
  }

  .desktop {
    display: none;
  }

  #main-content {
    margin-left: 0%;
    z-index: 0;
  }

  #main-logo img {
    width: 80%;
    height: auto;
  }

  .logo-top {
    z-index: -10;
  }

  .search-bar-box {
    padding-left: 0%;
    width: 100%;

  }

  header {
    z-index: 100;

    background-color: var(--dark);
    height: 20px;

    align-items: center;
    padding: 10px;
  }

  .search-bar-box-inner {
    width: 80%;
  }

  .mobile {
    position: sticky;
    z-index: 10000;
    display: flex;
  }

  /* hamburger button svg stuff */

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--light);
    stroke-width:4;
    stroke-linecap:round;
  }

  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }

}